In [ ]:
"""Data types"""

# There are Built-in data types and Universal data types, like str, int, float and bool.

#But we also have sequential data types, like list, sets, tuples and dictionaries.

In [6]:
integer = 5, 10, 15, 20
floar = 4.5, 8.9, 12.3
string = "Hello", "World", "Python"
boolean = True, False

print(integer, floar, string, boolean, sep='\n')
# OBS: -> The fact that I put more than one value in one variable, made all be tuples when use the function type, like print(type(integer))

(5, 10, 15, 20)
(4.5, 8.9, 12.3)
('Hello', 'World', 'Python')
(True, False)

In [5]:
a = True
print(type(a))

b = 55
print(type(b))

c = "Hello"
print(type(c))

d = 2.78
print(type(d))

<class 'bool'>
<class 'int'>
<class 'str'>
<class 'float'>